@model SAT.DATA.EF.StudentStatuses

@{
    ViewBag.Title = "Delete";
}

<!-- Page info -->
<div class="page-info-section set-bg" data-setbg="/Content/img/page-bg/4.jpg">
    <div class="container">
        <div class="site-breadcrumb">
            <a href="/">Home</a>
            <span>Delete Student Statuse</span>
        </div>
    </div>
</div>
<!-- Page info end -->


<div class="mainCenterText">
    <h3>Are you sure you want to delete @Model.SSName?</h3>
    <hr />
   
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger orangeButtonStyle" /> 
            <div class="btn btn-primary backButtonStyle"> @Html.ActionLink("Back to List", "Index")</div>
        </div>
    }
</div>
