
#navBarStyle {
    
    display: inline-block;
    
    padding: 4%;
    margin-right: 2%;
    text-align: inherit;
    float: right;
}

.copyright{
    text-align:center;
    float:none;
}
.header-section {
    padding-top:0;
}
.containerX {
    margin: 30px 100px 30px 5px;
}
#courseContainer {
    width: 90%;
    margin: auto;
    border: 2px solid #535ba0;
    padding: .8em;
    box-shadow: 1em 1em darkgray;

}
#studentContainer {
    height: 490px;
    width: 90%;
    margin: auto;
    border: 2px solid #535ba0;
    padding: .8em;
    box-shadow: 1em 1em darkgray;
}
#courseHeader {
    text-align: center;
    margin: 10px;
}

#title-top {
    color: #9B1B30;
}

#courseLeft {
    float: left;
    width: 50%;
}

#courseRight {
    
   padding: 5%;

}

#courseRight2 {
    float: left;
    padding: 5%;
}
#studentDetailButtons {
    float: left;
    position: absolute;
    padding: 5%;
}
#studentDetailsWrapper {
   
    
    overflow: hidden;
}

top-title {
    margin: 10px;
}

label {
    font-weight: 700;
}

textarea {
    resize: none;
}

#courseRight textarea {
    min-height: 12.5em;
}

.site-breadcrumb span {
    color: coral!important;
}
/*=======*/
.backButton {
    height: min-content;
    color: white;
    background-color: dodgerblue;
    border: none;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}

    .backButton a {
        text-decoration: none;
        color: white;
    }

    .backButton:hover {
        background-color: #0556a5;
    }

.backButtonStyle {
    color: white;
    background-color: dodgerblue;
    border: none;
}
.backButtonStyle a {
    text-decoration: none;
    color: white;
}

.backButtonStyle:hover {
    background-color: #0556a5;
}

.orangeButtonStyle {
    
    background-color: coral;
    border: none;
    color: white!important;
}
    .orangeButtonStyle:hover {
        background-color: #c3603c;
        color: white;
    }

#editButton {
    width: 7%;
    background-color: coral;
    border: none;
    float: right;
    height: max-content;
}

    #editButton a {
        text-decoration: none;
        color: white;
    }

    #editButton:hover {
        background-color: #c3603c;
    }

.deleteButton {
    background-color: red;
    width: 15%;
    border: none;
    color: white;
}

    .deleteButton a {
        text-decoration: none;
    }

    .deleteButton:hover {
        background-color: #cc0a0a;
        color: white;
    }

.createbutton {
    border: none;
}

    .createbutton a {
        text-decoration: none;
        font-size: 16px;
        color: white;
    }

/*#rAdmin {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    color: #fa9992;
    font-size: 20px;
    width: 150px;
    margin-bottom: 5px;
    background: #5bc0de;
}

    #rAdmin a {
        text-decoration: none;
    }

#uAdmin {
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #fa9992;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    background: #5bc0de;
}

    #uAdmin a {
        text-decoration: none;
    }*/

.contact a {
    text-decoration: none;
}

.detailIndex a {
    text-decoration: none;
    color: white;
}
.hero-text {
    margin-bottom:30px;
}
.spad {
    padding-top:0;
}
.footer-bottom {
    margin-top:0;
}
.row {
    margin: 20px;
}

/*==========*/

.mainCenterText {
    text-align: center;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/*===========*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: dodgerblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 10%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

a:hover {
    color: coral!important;
}

.contact-form-warp {
    background: coral!important;
}

.textPush {
    margin: 1%;
}

.myTable {
    border: groove;
    padding: 1%;
}

